.MessagesPage-ConversationsCol {
    display: flex;
    justify-content: flex-end;
}

.MessagesPage-MessageCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MessagesPage-MessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:90vh;
    width:80%;
    background-color: white;
    margin-top:25px;
    box-shadow: 5px 5px 30px 15px;
    border-radius: 20px;
}

.MessagesPage-ConverstaionContainer {
    height:90vh;
    width:90%;
    background-color: white;
    margin-top:25px;
    box-shadow: 5px 5px 30px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.MessagePage-ChatBox {
    margin-bottom: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Message.other {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Message.own {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MessagePage-StartMessageContainer {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    font-size:200%;
    overflow-wrap: break-word;
    align-items: center;
    height: 3000px;
    color: grey;
}
#messagepage-emojiToggler:hover {
    cursor: pointer;
}

#messageInput {
    width: 80%;
    height: 100px;
    padding:10px;
    border: 1px solid black;
}

#messageSubmitBtn {
    font-weight: bolder;
    background-color: #FD5E53;
}

#messageSubmitBtn:hover{
    background-color: #cc463c;
}

#message-wrapper {
    padding:10px;
    width:100%;
    height:100%;
    overflow-y: scroll;
}

#conversations-header {
    background-color: #dab681;
    border-radius: 10px;
    text-align: center;
    font-family: "AestheticViolet";
}


@media only screen and (min-device-width: 5px) and (max-device-width: 420px) {
    .Conversation {
        margin-top: 0px !important;
    }
    .MessagesPage-ConversationsCol {
        justify-content: center;
    }
    .MessagesPage-ConverstaionContainer {
        height:100%;
        width:100%;
        margin-top:3px;
    }
    .MessagesPage-MessageContainer {
        height:400px;
        width:100%;
        background-color: white;
        margin-top:25px;
        box-shadow: 5px 5px 30px 15px;
        border-radius: 20px;
    }
    .MessagePage-ChatBox {
        justify-content: flex-end;
    }
    .MessagesPage-MobileConvoScroller {
        display: flex;
        overflow-x: scroll;
    }
    #messagepage-currentChatHeader {
       display: flex;
       justify-content: center;
       align-items: center;
       height:50px;
       margin-bottom: 0px;
       background-color: #E97451;
       border-radius: 10px;
       font-family: "AestheticViolet";
    }
    .MessagePage-ChatForm {
        height:125px;
    }
    
    #messagepage-chattingWithHeader {
        font-weight: bold;
        text-decoration: underline dotted;
    }
    #messageSubmitBtn {
        background-color:#50C878;
        color:black;
    }
    #messageInput {
        width:100%;
        height: 120px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
}