.ConnectionCard-Card {
    justify-content: center;
    align-items: center;
    border-radius: 12px !important;
    background-color: #E6E6FA !important;
    box-shadow: 5px 30px 15px;
}

.ConnectionCard-ButtonContainer {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

#connectioncard-avatarimg {
    margin-top: 20px;
    width:70%;
    height:50% !important;
    border:2px solid black;
}

#connectioncard-username {
    text-decoration: underline;
}

#connectioncard-followbtn {
    border-radius: 30px !important;
    background-color: #dcead0;
    color: black;
    font-weight: bold;
}

#connectioncard-followbtn:hover {
    background-color: #a8c78d;
}

#connectioncard-followingInfo {
    display: flex;
    justify-content: center;
}

#connectioncard-followers{
    margin-right: 30px;
}
#connectioncard-followers span {
    text-decoration: underline;
    font-weight: bold;
}

#connectioncard-following span {
    text-decoration: underline;
    font-weight: bold;
}

#alreadyFollowing {
    color:#21ADA8;
    margin-right: 10px;
    font-weight: bold;
}

@media only screen and (min-device-width: 5px) and (max-device-width: 420px) {
    
}