nav {
    background-color: #21ADA8;
}

nav a {
    text-decoration: none; 
    margin-right:20px;
    color:white;
  }
  
  nav a.active {
    font-weight: bold;
    border-bottom: 2px solid;
    box-sizing: border-box;
  }
  
  nav a:hover {
    text-decoration: none;
   
  }
  
a.navbar-brand {
    margin-left:20px;
}

  nav a.active.navbar-brand {
    border-bottom: none;
  }
  
  nav a:not(.navbar-brand):hover {
    font-weight: bold;
}
  
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/* @media screen and (min-width: 700px) {
  .Navbar-navbar {
    width:93% !important;
  }

}

@media screen and (min-width: 500px) {
  .Navbar-navbar {
    width:660px !important;
  }

  .TitleImage {
   margin-left: 225px;
  }

  #HomePage-ButtonGroup {
     position:absolute;
     left:80% !important;
     top:600px !important;
  }
} */
