body {
    background-image: url("./Images/Background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}




.HomePage-Button{
    margin-right:20px;
    margin-left:20px;
    background-color:#21ADA8 !important;
    box-shadow: 5px 5px 10px darkgrey;
    color:white !important;
    font-weight:bolder !important;
    height:60px;
    width:150px;
}




